<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Management system Node</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <div class="admin">
        <div class="image-container">
            <img src="angular.png" alt="Angular">
        </div>
        <a class="adminLink" href="admin/app/index.html">Admin Module</a>
    </div>
    <div class="client">
        <div class="image-container">
            <img src="angular.png" alt="Angular">
        </div>
        <a class="adminLink" href="client/app/index.html">Client Module</a>
    </div>
</div>
</body>
</html>